@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Rubik', sans-serif;
}

main {
    display: flex;
}

.div {
    margin-left: -3vw;
    width: 33vw;
    height: 92vh;
    background-image: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    border-radius: 250px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.main-content-div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: grid;
    grid-template-columns: auto auto;
    width: 72vw;
}

.app-illustration {
    width: 300px;
    border-radius: 30px;
    border: 12px #fff solid;
    box-shadow: 0 0 25px hsla(0, 0%, 0%, .4);
    background-color: hsl(270, 20%, 96%);
    justify-self: right;
    margin-right: -60px;
}

.frame-parent {
    position: absolute;
    width: 300px;
    display: flex;
    justify-content: center;
}

.frame {
    width: 180px;
    height: 30px;
    background-color: #fff;
    border-radius: 50px;
    margin-top: -10px;
}

.head-div {
    width: 300px;
    height: 85px;
    background-image: linear-gradient(to right, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 2px 5px hsla(0, 0%, 0%, .2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.head {
    width: 90%;
    height: 80%;
    display: flex;
    align-items: center;
    margin-top: 21px;
}

.back-arrow {
    border: #fff solid;
    border-width: 0 0 3px 3px;
    display: inline-block;
    padding: 4px;
    transform: rotate(45deg) translateY(-10px);
    margin-right: 10px;
    margin-bottom: 3px;
}

.avatar {
    width: 30px;
    border-radius: 50%;
    border: 1px #fff solid;
    display: inline-block;
    margin-right: 10px;
}

.name-status {
    display: inline-block;
}

.name {
    margin: 0;
    color: hsla(0, 0%, 100%, .9);
    font-size: .8em;
    font-weight: 500;
}

.status {
    color: hsl(276, 100%, 81%);
    margin-bottom: 0;
    margin-top: 5px;
    font-size: .8em;
}

.menu-icon {
    display: inline-block;
    margin-left: 90px;
}

.dot {
    width: 3px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 3px;
}

.receivers-chat {
    width: 200px;
    background-color: #ede4f5;
    display: flex;
    align-items: center;
    margin: 7px;
    padding-left: 15px;
    border-radius: 20px;
    border-bottom-left-radius: 3px;
    color: hsl(276, 55%, 52%);
    font-weight: 500;
    font-size: .75em;
    box-shadow: 0 0 5px hsla(0, 0%, 0%, .1);
}

.receivers-chat>p {
    max-width: 185px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.dogs {
    display: flex;
    justify-content: right;
    padding-top: 5px;
}

.dogs>img {
    width: 60px;
    height: 50px;
    margin-right: 7px;
    border-radius: 15px;
}

.senders-chat {
    width: 180px;
    background-color: #fff;
    display: flex;
    align-items: center;
    margin: 10px;
    padding-left: 15px;
    border-radius: 20px;
    border-bottom-right-radius: 5px;
    color: #000;
    font-size: .7em;
    margin-left: auto;
    box-shadow: 0 0 5px hsla(0, 0%, 0%, .1);
}

.senders-chat>p {
    max-width: 195px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.choice-option {
    background-image: linear-gradient(to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    width: 220px;
    border-radius: 17px;
    border-bottom-left-radius: 5px;
    margin: 5px;
    padding-left: 15px;
    display: flex;
    align-items: center;
}

.choose {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: .9px solid hsl(289, 100%, 72%);
}

.choice-option-div {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.choice-option-div>p {
    margin: 0;
    font-size: .75em;
    color: white;
}

.choice-option-div>.time {
    margin-left: 15px;
    margin-right: 50px;
}

.choice-option-div>.price {
    text-align: right;
    font-weight: 700;
}

.choice-option-div>.time- {
    margin-right: 74px;
}

.msg-box {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 5px hsla(0, 0%, 0%, .1);
    margin-inline: 7px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.placeholder-txt {
    font-size: .78em;
    color: hsl(206, 6%, 79%);
}

.submit {
    background-color: hsl(271, 36%, 24%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-icon {
    padding: 3px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    transform: rotate(-45deg);
}

.app-description-div {
    display: flex;
    align-items: center;
    justify-self: right;
}

.simple-booking {
    color: hsl(271, 36%, 24%);
    font-weight: 500;
    font-size: 2em;
}

.paragraph {
    color: hsl(270, 7%, 64%);
    line-height: 1.5;
    word-spacing: 1px;
    font-size: .98em;
    width: 450px;
}

.div2 {
    width: 35vw;
    height: 90vh;
    background-color: hsl(270, 20%, 96%);
    margin-left: auto;
    margin-top: 11vh;
    margin-right: -190px;
    border-top-left-radius: 220px;
    border-top-right-radius: 220px;
}

@media only screen and (max-width: 1000px) {

    html,
    body {
        max-width: 100%;
        overflow-x: hidden;
    }

    .main-content-div {
        height: 150vh;
    }

    .main-content {
        display: grid;
        width: 100%;
        justify-items: center;
        /* align-items: center; */
        grid-template-rows: auto auto;
        /* background-color: red; */
        grid-template-columns: none;
    }

    .app-illustration {
        justify-self: center;
        margin: 0;
    }

    .app-description-div {
        justify-self: center;
        text-align: center;
    }

    .simple-booking {
        margin-top: 11vh;
        margin-bottom: 4vh;
        font-size: 2.2em;
    }

    .paragraph {
        width: 340px;
        line-height: 1.7;
        font-size: 1.09em;
        margin-bottom: 5vh;
    }

    .div {
        width: 60vw;
        height: 80vh;
        margin-top: 0;
        margin-left: -12vw;
        border-bottom-left-radius: 5px;
    }

    .div2 {
        margin-top: 60vh;
        margin-right: 0;
        margin-left: 30vw;
        width: 70vw;
        height: 90vh;
        border-top-right-radius: 0;
    }
}